/*	Typography presets
  ------------------------------------	*/

.gigantic, .huge, .large, .bigger, .big, h1, h2, h3, h4, h5, h6 {
    color: $headlineColor;
    font-weight: bold;
}

.gigantic, h1 {
    color: $h1Color;
    font-size: $h1Size;
    line-height: 1.09;
    letter-spacing: -2px;
}

.huge, h2 {
    color: $h2Color;
    font-size: $h2Size;
    line-height: 1.05;
    letter-spacing: -1px;
}

.large, h3 {
    color: $h3Color;
    font-size: $h3Size;
    line-height: 1.14;
}

.bigger, h4 {
    color: $h4Color;
    font-size: $h4Size;
    line-height: 1.38;
}

.big, h5 {
    color: $h5Color;
    font-size: $h5Size;
    line-height: 1.38;
}

.small, small, h6 {
    color: $h6Color;
    font-size: $h6Size;
    line-height: 1.2;
}



p {
    margin: 0 0 20px 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}



/* Links
  ------------------------------------	*/
a {
    color: $accent;
    text-decoration: none;
    outline: 0;
}

a:hover, a:focus {
    color: lighten($accent, 20%);
}



/* Selection colors (easy to forget)
  ------------------------------------	*/

::selection {
    background: $selectionColor;
}

::-moz-selection {
    background: $selectionColor;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $selectionColor;
}



/* Basic Styles
  ------------------------------------	*/
body {
    background: $documentBackgroundColor;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    color: $pColor;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

svg {
    // NOTE: SCSS mixins require the '@include ' prefix instead of the '+' prefix required by SASS mixins
    @include size(100%);
}

h4 {
    @extend %small-bold;
    text-align: center;
    padding: 100px 0 30px;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

@media screen and (max-width: 480px) {
    h4 {
        padding: 50px 0 50px;
    }
}

section:nth-child(odd) {
    background: $bgcolor;
    padding-bottom: 100px;

    h4 {
        color: darken($accent-light, 10%);
    }
}
