---
---

@import '1-tools/-tools-dir';

//------------------------------------------------
// Transition the image paths from the settings file to usable SASS variables
$animation: {{ site.data.layout.animation }};
$logo-path: '{{ site.data.layout.logo }}';
$hero-path: '{{ site.data.layout.hero }}';
$backgroundPattern: '{{ site.data.layout.backgroundPattern }}';
$avatar-path: '{{ site.data.layout.avatar }}';

$projects: {% for project in site.data.settings.projects %} "{{ project.folder }}", {% endfor %};

//------------------------------------------------
// Set some sizes as sass variables
$h1Size: {{ site.data.layout.h1Size }};
$h2Size: {{ site.data.layout.h2Size }};
$h3Size: {{ site.data.layout.h3Size }};
$h4Size: {{ site.data.layout.h4Size }};
$h5Size: {{ site.data.layout.h5Size }};
$h6Size: {{ site.data.layout.h6Size }};
$pSize: {{ site.data.layout.pSize }};

//------------------------------------------------
// Set some colors as sass variables

$documentBackgroundColor: {{ site.data.layout.documentBackgroundColor }};
$bgcolor: {{ site.data.layout.bgcolor }};
$headlineColor: {{ site.data.layout.headlineColor }};

$h1Color: {{ site.data.layout.h1Color }};
$h2Color: {{ site.data.layout.h2Color }};
$h3Color: {{ site.data.layout.h3Color }};
$h4Color: {{ site.data.layout.h4Color }};
$h5Color: {{ site.data.layout.h5Color }};
$h6Color: {{ site.data.layout.h6Color }};
$pColor: {{ site.data.layout.pColor }};

$accent: {{ site.data.layout.accent }};
$accent-light: adjust-hue(saturate(lighten($accent, 11%), 12.6%), 14%);
$selectionColor: lighten($accent, 30%);

@import '2-base/-base-dir';
@import '3-sections/-sections-dir';
