body {
    // position: fixed;
    background: #223322; // #553000 // to be replaced with image
    /*background: {
        image: url(../img/diagonal-table-top_webtreats_light_wood3.png);
        repeat: repeat;
    }
    height: 100vh;
    width: 100vw;*/
}

/*.background {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    // content: "";
    background: {
        size: 100vw 100vw;
        image: url(../img/diagonal-table-top_webtreats_light_wood3.png);
        repeat: repeat;
        blend-mode: normal;
    }
    height: 100vh;
    width: 100vw;
}*/

.internal:before {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background: {
        size: 100vw 100vw;
        image: url(../img/diagonal-table-top_webtreats_light_wood3.png);
        repeat: repeat;
        blend-mode: normal;
    }
    content: "";
}

/*.internal:before {
    content: "";
    background: {
        image: url(../img/diagonal-table-top_webtreats_light_wood3.png);
        repeat: repeat;
    }
    height: 100vh;
    width: 100vw;
    position: fixed;
    // top: -150vmax;
    // left: -150vmax;
    z-index: -1;
    // transform-origin missing is causing bug;
    // -webkit-transform: rotate(45deg) translate(50vw, 50vh);
    // -moz-transform: rotate(45deg) translate(50vw, 50vh);
    // -o-transform: rotate(45deg) translate(50vw, 50vh);
    // -ms-transform: rotate(45deg) translate(50vw, 50vh);
}*/

.internal {
    overflow: hidden;
    margin: 21.5vh auto;
    // padding: 3.5vh 10vh;
    width: 80vw;
    height: 2000px;
    background: tan;
    border: 2px solid black;
    border-radius: 20px;
}
