#root {
    // background: #223322; // #553000 // to be replaced with image
    height: 100vh;
    width: 100%;

    /* Safari 5.1 to 6.0 */
/*    background: -webkit-radial-gradient(90% 15%, farthest-side, rgba(0,0,0,1), rgba(0,0,0,0));*/
    /* Opera 11.6 to 12.0 */
/*    background: -o-radial-gradient(90% 15%, farthest-side, rgba(0,0,0,1), rgba(0,0,0,0));*/
    /* For Firefox 3.6 to 15 */
/*    background: -moz-radial-gradient(90% 15%, farthest-side, rgba(0,0,0,1), rgba(0,0,0,0));*/
    /* Standard syntax */

    background: {
        attachment: /*fixed,*/ fixed;
        size: /*100vmax 100vmax,*/ 100vw 100vw;
        image: /*radial-gradient(farthest-side at 85% 20%, rgba(255,187,34,1), rgba(0,0,0,0)),*/ url(../img/#{$backgroundPattern});
        repeat: /*no-repeat,*/ repeat;
        blend-mode: /*overlay,*/ normal;
    }
}

.internal {
    margin: 21.5vh auto;
    // padding: 3.5vh 10vh;
    width: 80vw;
    height: 2000px;
    background: {
        position: 50% 0;
        size: 100% auto;
        image: url("../img/scroll texture.png");
        repeat: repeat-y;
    }
    border: 2px solid black;
    border-radius: 20px
}

@keyframes test {
    0%   {
        height: 100vh;
        width: 100%;
    }
    60%  {
        height: 45vh;
        width: 45%;
    }
    100% {
        height: 100vh;
        width: 100%;
    }
}

.internal:after {
    position: fixed;
/*    display: none;*/
    top: 0px;
    right: 0px;
    // z-index: -1;
    height: 100vh;
    width: 100%;
    
    animation-name: test;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    
    /* Safari 5.1 to 6.0 */
    background: -webkit-radial-gradient(85% 20%, farthest-side, rgba(255,187,34,1), rgba(0,0,0,0));
    /* Opera 11.6 to 12.0 */
    background: -o-radial-gradient(85% 20%, farthest-side, rgba(255,187,34,1), rgba(0,0,0,0));
    /* For Firefox 3.6 to 15 */
    background: -moz-radial-gradient(85% 20%, farthest-side, rgba(255,187,34,1), rgba(0,0,0,0));
    /* Standard syntax */
    background: radial-gradient(farthest-side at 85% 20%, rgba(255,187,34,1), rgba(0,0,0,0));
    background: {
        size: cover; // 100vmax 100vmax;
/*        image: radial-gradient(../img/diagonal-table-top_webtreats_light_wood3.png);*/
        repeat: no-repeat;
/*        blend-mode: overlay;*/
    }
    mix-blend-mode: overlay;
    content: "";
}
